.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  width: 50%; /* Full width of the container */
  margin-left: 8px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.search-icon {
  cursor: pointer;
  margin-left: 8px;
}